@using Comically
@using Comically.data
@using Comically.models

<html>
<head>
    <title>Comically - @Model.ComicInfo.Title</title>
    <link rel="stylesheet" type="text/css" href="/content/style.css" />
    <meta charset="utf-8">
    <style type="text/css">
        #content {
            margin-top: 50px;
        }

        #cover {
            margin-left: 50px;
            float: left;
            height: 400px;
            width: 286px;
        }

        #title {
            margin-top: 0;
        }

        #right-column {
            box-sizing: border-box;
            padding-left: 50px;
            float: left;
            width: calc(100% - 286px - 50px);
        }
    </style>
</head>
<body>
    @Html.Partial("partials/header.cshtml")
    @Html.Partial("partials/nav.cshtml", SitePages.OTHER)
    <div id="main">
        <div id="content">
            <img src="data:image;base64, @Model.CoverImage" alt="@Model.ComicInfo.Title cover" id="cover" />
            <div id="right-column">
                <h2 id="title">@Model.ComicInfo.Title</h2>
                <p id="author">@Model.ComicInfo.Author</p>
                <p id="summary">@Model.ComicInfo.Summary</p>

                <div id="cards">
                    @foreach (Chapter chapter in @Model.Chapters)
                    {
                        @Html.Partial("partials/card.cshtml", new CardModel(@chapter.Title, @chapter.GetPage(0), ""))
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>