@using Comically
<div id="nav">
    <ul>
        <li class='@(@Model == SitePages.HOME ? "active" : "")'>Home</li>
        <li class='@(@Model == SitePages.RECENTLY_UPDATED ? "active" : "")'>Recently Updated</li>
        <li class='@(@Model == SitePages.RECENTLY_ADDED ? "active" : "")'>Recently Added</li>
        <li class='@(@Model == SitePages.UNREAD ? "active" : "")'>Unread</li>
        <li class='@(@Model == SitePages.TOP_RANKED ? "active" : "")'>Top Ranked</li>
        <li class='@(@Model == SitePages.TAGS ? "active" : "")'>Tags</li>
    </ul>
</div>